src/main/resources/api/BookingServiceSoap.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/BookingService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookingService" targetNamespace="http://www.example.org/BookingService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/BookingService/">
      <xsd:element name="BookTicket">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="movie_id" type="xsd:string" />

                        <xsd:element name="ContactNo" type="xsd:int"></xsd:element>
                        <xsd:element name="Name" type="xsd:string"></xsd:element>
          	<xsd:element name="no_of_tickets" type="xsd:int"></xsd:element>
          	<xsd:element name="email" type="xsd:string"></xsd:element>
          	<xsd:element name="creditcarddetails"
          		type="tns:CreditCardType">
          	</xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BookTicketResponse">
        <xsd:complexType>
          <xsd:sequence>


          	<xsd:element name="Ticket" type="tns:TicketType"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="CreditCardType">
      	<xsd:sequence>
      		<xsd:element name="cvv" type="xsd:int"></xsd:element>
      		<xsd:element name="ExpiryMonth" type="xsd:int"></xsd:element>
      		<xsd:element name="ExpiryYear" type="xsd:string"></xsd:element>
      		<xsd:element name="CardHolderName" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="TicketType">
      	<xsd:sequence>
      		<xsd:element name="Cinema" type="xsd:string"></xsd:element>
      		<xsd:element name="Schedule" type="xsd:string"></xsd:element>
      		<xsd:element name="Title" type="xsd:string"></xsd:element>
      		<xsd:element name="ScreenRoom" type="xsd:string"></xsd:element>
      		<xsd:element name="NumberOfTickets" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BookTicketRequest">
    <wsdl:part element="tns:BookTicket" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BookTicketResponse">
    <wsdl:part element="tns:BookTicketResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="BookingService">
    <wsdl:operation name="BookTicket">
      <wsdl:input message="tns:BookTicketRequest"/>
      <wsdl:output message="tns:BookTicketResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookingServiceSOAP" type="tns:BookingService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="BookTicket">
      <soap:operation soapAction="http://www.example.org/BookingService/BookTicket"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookingService">
    <wsdl:port binding="tns:BookingServiceSOAP" name="BookingServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
